/* DraggableComponent styles */
.draggable-component {
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background-color: white; /* slate-100 */
  border: 2px dashed #cbd5e1; /* slate-300 */
  border-radius: 0.5rem;
  cursor: move;
  transition:
    background 0.2s,
    opacity 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}
.draggableComponent-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.draggable-component-collapsed {
  background-color: white; /* slate-100 */
  border: 2px dashed #cbd5e1; /* slate-300 */
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  border-radius: 0.5rem;
}
.draggable-component:hover {
  background-color: whitesmoke; /* slate-200 */
}
.draggable-component-collapsed:hover {
  background-color: whitesmoke; /* slate-200 */
}
.draggable-component.dragging {
  opacity: 0.5;
}
.draggable-component:not(.dragging) {
  opacity: 1;
}

.draggable-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #334155; /* slate-700 */
}
/* BuilderApp styles */
.builder-app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9; /* bg-slate-100 */
}

.builder-app-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.builder-app-root .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular {
  padding: 0px 15px 0px 15px;
}
