.pagesSidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pagesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 8px 8px;
  font-weight: 600;
  font-size: 16px;
}

.addPageBtn {
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 4px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}
.addPageBtn:hover {
  background: #1256a2;
}

.pagesList {
  list-style: none;
  margin: 0;
  padding: 0 0 0 8px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.pageItem {
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2px;
  color: #333;
  background: none;
  height: 40px;
  display: flex;
  align-items: center;
  transition:
    background 0.2s,
    box-shadow 0.2s;
}
.pageItem:hover {
  background: #f2f6fc;
  height: 40px;
  display: flex;
  align-items: center;
  transition:
    background 0.2s,
    box-shadow 0.2s;
}

.activePage {
  padding: 7px 10px;
  border-radius: 6px;
  background: linear-gradient(90deg, #1976d2 0%, #2196f3 100%);
  color: #fff;
  /* font-weight: 600; */
  margin-bottom: 4px;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.08);
  height: 40px;
  display: flex;
  align-items: center;
  transition:
    background 0.2s,
    box-shadow 0.2s;
}
